<.header>
  New Note
  <:subtitle>Use this form to manage note records in your database.</:subtitle>
</.header>

<.note_form changeset={@changeset} action={~p"/notes"} />

<.back navigate={~p"/notes"}>Back to notes</.back>
